.root {
    -fx-background-color: #D8BFD8;
}

.text {
    -fx-font-smoothing-type: gray;
}

.text-field {
    -fx-alignment: center-right;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-text-fill: #8B008B;
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #E6E6FA;
    -fx-text-fill: #8B008B;
    -fx-background-radius: 20;
    -fx-background-insets: 6;
    -fx-font-size: 23px;
}

.button:hover {
    -fx-background-color: #7B68EE;
}

.button:pressed {
    -fx-background-color: #7B68EE;
}

.button:armed {
    -fx-background-color: #7B68EE;
}

#OperatorButton {
    -fx-text-fill: #4B0082;
}

#ClearButton {
    -fx-text-fill: #DC143C;
}

#DelButton {
    -fx-text-fill: #FF00FF;
}

#input {
    -fx-font-size: 16px;
}

#output {
    -fx-font-size: 22px;
}